
# Global
.DS_Store
*.log
*.pyc
__pycache__/
.env
.venv/
backend/.env
.env
.env.*
node_modules/
dist/
build/
# VSCode
.vscode/
.serverless
node_modules
venv
__pycache__/
*.pyc
events/edge_2/
*.mp4

# Do not commit YOLO weights
edge/yolov8*.pt
